# Secrets
serviceAccountKey.json
**/serviceAccountKey.json

# Build folders
target/
**/target/

# VS Code
.vscode/

# Local Maven installation
apache-maven-3.9.9/

# Java compiled files
*.class

# Logs
*.log

# Packages
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*